body{
    margin:0;
    min-height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: goldenrod;
    border:1px solid black;
    overflow: hidden;
}

.studentSignup{
    width:50%;
    height:750PX;
    background-color:purple;
    border-radius:10px;
    box-shadow: 5px 10px 15px #888888;

}

.studentSignup form{
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.studentSignup h2{
    color:lightblue;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.studentSignup form label{
    color:white;
    font-size:18px;
    font-family: "Roboto", sans-serif;

}

.studentSignup form input{
    width:70%;
    height:30px;
    border-radius:10px;
    border:none;
}

/* .studentSignup p{
    margin-top:0
} */

.studentSignup form button{
    width:50%;
    height:40px;
    border-radius:10px;
    border:none;
    background-color:darkslategray;
    color:white;
    font-size:20px;
    cursor:pointer;
    transition:0.3s ease-in-out;
}



.studentSignup form button:hover{
    background-color:lightblue;
    color:black;
}

#have-account{
    font-size:18px;
    color:white;
}
